body {
    background-color: #3F2272;
    color: "white";
    text-align: "center";
}

#cover {
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

#cover-caption {
    width: 100%;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */  
    display: flex;
    align-items: center;
}